body {
    background-image: url(./img/background_estelar.avif);
    background-repeat: no-repeat top center/cover;
}

#card {
    background-color: #b2b2b2;
    scale: 0.8;
}

#h1 {
    color: white;
    font-weight: bolder;
}